<script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
<script type="text/javascript">

	$(document).ready(function() {
		$('#security').hide();
		$('#answer').hide();
		$('#answerLabel').hide();
		$('#passphrase').hide();
		$('#passphraseLabel').hide();
		$('#change').hide();
	});
</script>
<div>
	<form method = "post" action="change_password">
	<fieldset id = "field">
	<label for="age" id="acc_noLabel">Account Number:</label>
		{{input type="number" id="acc_no" name="acc_no" value=acc_no placeholder="Enter your acc_no" }}
		<br/><br/>
    <button type="submit" {{action "forgot" }}>Submit</button>
		<br/><br/>
	</fieldset>
<div id="securityquestion">
  {{securityquestion}}
</div>
	<label for="answer" id = "answerLabel">Your Answer:</label>
	<input type="text" id="answer" name="answer" placeholder="Enter your answer" />
	<br/><br/>
	<button type="submit" id = "security" {{action "security" }}>Submit</button>
	<label for="passphrase" id = "passphraseLabel">Your Passphrase:</label>
	<input type="text" id="passphrase" name="passphrase" placeholder="Enter your passphrase" required />
	<br/><br/>
	<input type="submit" value="Change" id="change"/>
	</form>
</div>
